@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100vh;
    margin:0;
}

#image_page {
    position: relative;
    width:50%;
    height:100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#bg {
    position: relative;
    max-width:100%;
    min-height:100%;
    left: 0;
}

#bg_image {
    max-width:100%;
    min-height:100%;
    background-size: cover;
    transform: rotateY(180deg);
}

#banner {
    position: absolute;
    left: 40%;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    min-width:30%;
    /*prevent text from clipping through banner*/
    min-height:8vw;
    max-width:30%;
    max-height:20%;
    border-radius: 90%;
    background-color: rgba(17, 6, 54, 0.795);
}

#logo {
    /* max-width:100%;
    max-height:100%; */
   /* background-size:50%, 20% cover;*/
    padding: 10%;
}

#logo_image {
    /* min-width:70px;
    min-height:90px; */
    max-width:100%;
    max-height:100%;
    background-size: contain;
    /*background-size:50%, 20% cover;*/
}

#banner_text {
    font-family: norse-bold;
    /* max-height:100%; */
    padding: 10%;
    font-size: 5vw;
    color:white;
}

#attribution_footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1vw;
}

#text_page {
    position:absolute;
    max-height:100%;
    left:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20% 5% 5% 5%;
    font-size: 3vw;
}

#acount_creation_form {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right:50%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(17, 6, 54, 0.795);
}

#account_creation_button {
    background-color: #596D48;
}